
@font-face {
  font-family: Micro;
  src: url(MicroFLF.ttf);
}

@font-face{
  font-family:FiraSans;
  src:url("FiraSans-Light.otf");
}

body{
	background-image:url("background.jpg");
}	

.registerform{
  float:left;
  font-size: 100%;
  left: 40%;
  top: 30%;
  min-width: 10%;
  min-height:20%; 
  background-color: #ffffff;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  font-family: FiraSans;
  margin-top:5px;
  padding:3px;
}

.loginform{
  float:left;
  font-size:100%;
  min-width: 25%;
  min-height: 30%;
  background-color: #ffffff;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  font-family: FiraSans;
  margin-top: 10px;
  padding:3px;
}

.input
{
font-size:80%;
}

.submit
{
  margin-top:10%;
  margin-bottom: 3%;
}

.indexform{
  position: fixed;
  top: 35%;
  left: 35%;
  font-size: 200%;
  background-color: #ffffff;
  font-family: Micro;
  padding: 4px;
  border-radius: 5px;
}

div.upload
{
  margin-top: 1px;
  background-color:#ffffff;
  font-color:#ffffff;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  font-family: Micro;
  font-size: 90%;
  padding:5px;
}

div.myfiles{
  background-color:#333;
  height: 100%;
  opacity:0.9;
}

ul.myfiles{
  overflow: auto;
  height:300px;
  padding: 2px;
  background-color: #333;
  border-radius: 2px;
  font-family:Micro;
  margin-top: 4px;
}

li.myfiles
{
  list-style-type: none;
  background-color: #ffffff;
  float:left;
  clear:left;
  margin:0.2% 0 0.2% 0.5%;
  padding:5px;
  -moz-user-select:none;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 2px;
  overflow: hidden;
  background-color: #333;
  border-radius: 2px;
   font-family:Micro;
   opacity:1;
}

li.navbar {
  float: left;
  margin:0 2px 0 0;
}

li a.navbar {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  opacity:1;
  font-size: 16px;
}

.home
{
background-color:#6495ED;
}
.login{
  background-color:#008000;
}
.register{
  background-color:#8A2BE2;
}
.logout
{
  background-color:#D2691E;
}
.scale_transition{
  text-align: center;
  transition:transform .4s;
}

.scale_transition:hover{
  transform: scale(1.2);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

div.detalii
{
 border-top:solid 1px;
 background-color: #ffffff !important;
 display: none;
 margin-left: 10px;
 clear:left;
 float:left;
 height: 100%;
 width: 90%;
 font-color:#000000;
}

p.detalii{
  float:left;
  clear:left;
  line-height: 1px;
  font-size: 75%;
}

li.myfiles:hover .detalii 
{
  display:block;
}

li.myfiles:hover .delete_button
{
display:inline-block;
}

li.myfiles:hover
{
 width:20%;
 text-align: center;
 margin-left: 30px;
 margin-top: 8px;
}


.download_button{
  background-image: url("download.jpg");
  background-color: #ffffff;
  background-size: 19px 19px;
  background-repeat: no-repeat;
  padding:6px 10px 6px;
  border:none;
  margin-top:1px;
  margin-right:2px;
  float:right;
  height:20px;
  width:9%;
  transition:transform .3s;
}

.delete_button
{
  border:none;
  height:14px;
  width:1%;
  margin-top:1px;
  float:right;
  display: none;
  background-image: url("delete.jpg");
  background-color: #ffffff;
  padding:5px 7px 6px;
  background-size: 14px 14px;
  background-repeat: no-repeat;
  transition:transform .3s;
}

.delete_button:hover
{
  transform: scale(1.6);
}

.download_button:hover
{
  transform: scale(1.4);
}
.options_button{
  margin-left: 10px;
}

.options_button:hover .options{
  visibility: visible;
}

.options{
  border-style: solid;
  border-width: 1px;
  height: 15.5%;
  width: 31.5%;
  background-color: #ffffff;
  border-radius: 5px;
  margin-left: 10px;
  font-family: Micro;
  font-size: 80%;
  padding:6px;
  -moz-user-select:none;
}

.myfiles_title
{
  font-family: Micro;
  background-color:#6495ED; 
  color:#ffffff;
  -moz-user-select:none;
  font-weight:bold;

}

.options_title
{
  text-shadow: 10%;
  text-decoration: underline;
  line-height:1px;
  text-shadow: 1px 1px #C0C0C0;
  -moz-user-select:none;
}
.search_field
{
  background-image: url("search.jpg");
  padding:5px 25px 6px;
  background-size: 27px 28px;
  background-repeat: no-repeat;
  font-size: 100%;
  border:1px solid #4d4d4d;
  margin-bottom:1%;
  margin-top: 4px;
  margin-left:4px;
  width: 29%;
  height: 29%;
}

.upload_button{
  background-image: url("upload.jpg");
  display:inline-block;
  background-color: #ffffff;
  background-size: 36px 34px;
  border:none;
  background-repeat: no-repeat;
  height:30px;
  width:2.5%;
  padding:0px;
  transition:transform .3s;
  position: relative;
}

.upload_button:hover
{
  transform: scale(1.2);
}