
@font-face {
  font-family: Micro;
  src: url(MicroFLF.ttf);
}
body{
	background-image:url("background.jpg");
}	

.form{
	position: fixed;
	top: 35%;
	left: 40%;
	font-size: 200%; 
  background-color:#004466;
  border-radius: 5px;
  margin:100;
  font-family:Micro;
  padding: 4px;
}

.indexform{
  position: fixed;
  top: 35%;
  left: 35%;
  font-size: 200%;
  background-color: #004466;
  font-family: Micro;
  padding: 4px;
  border-radius: 5px;
}

div.upload
{
  background-color:#333;
  height: 70px;
  font-color:white;
}

div.myfiles{
  background-color:#333;
  height: 400px;
  opacity:0.6;
}

ul.myfiles{
  overflow: auto;
  height:350px;
  padding: 2px;
  background-color: #333;
  border-radius: 2px;
   font-family:Micro;
   opacity:1;
}

li.myfiles
{
  list-style-type: none;
  background-color: white;
  float:left;
  clear:left;
  margin:4px 0 0 10px;
  padding:5px;
  opacity:1;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 2px;
  overflow: hidden;
  background-color: #333;
  border-radius: 2px;
   font-family:Micro;
   opacity:1;
}

li.navbar {
  float: left;
  margin:0 2px 0 0;
}

li a.navbar {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  opacity:1;
  font-size: 16px;
}

.home
{
background-color:#6495ED;
}
.login{
  background-color:#008000;
}
.register{
  background-color:#8A2BE2;
}
.logout
{
  background-color:#D2691E;
}
.scale_transition{
  text-align: center;
  transition:transform .4s;
}

.scale_transition:hover{
  transform: scale(1.2);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

div.detalii
{
 visibility: hidden;
 align-self: center;
  background-color:black;

}
li.myfiles:hover + div.detalii
{
  visibility: visible;
}

li.hoverWrapper:hover #hoverShow {
 display: block;
}

.hoverWrapper #hoverShow {
 display: none;
 background-color: #00111a;
 width: 250px;
 height: 250px;
 left: 200px;
 top: 100px;
 color:white;
}