
@font-face {
  font-family: Micro;
  src: url(MicroFLF.ttf);
}
body{
	background-image:url("background.jpg");
}	

div{
	position: fixed;
	top: 35%;
	left: 33%;
	font-size: 200%; 
  background-color:  #004466;
  border-radius: 7px;
  margin:100;
   font-family:Micro;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-radius: 2px;
   font-family:Micro;
   opacity:1;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  opacity:1;
  font-size: 25;
}

.home
{
background-color:#6495ED;
}
.login{
  background-color:#008000;
}

.scale_transition{
  text-align: center;
  transition:transform .4s;
}

.scale_transition:hover{
  transform: scale(1.2);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
